# Исключаем файлы и папки, не нужные в контейнере
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
# Исключаем файлы зависимостей и кеши IDE
*.swp
*.swo
.vscode/
.idea/
*.log

# Исключаем файлы гита
.git
.gitignore
# Исключаем Docker-файлы, чтобы не копировать их внутрь контейнера
Dockerfile
docker-compose.yml